{% extends 'base-layout.njk' %}

{% block content %}
<nav>
    <ul>
        <li>
            <a href="/sign-up">Sign up</a>
        </li>

        {% if user %}

        <li>
            <p>
                <b>{{ user.fullName }}</b>
                    <br/>{{ user.YOE }}
            </p>
        </li>

        <li>
            <a href="/logout">Logout</a>
        </li>
        
        {% endif %}
    </ul>
</nav>

<main>
    <div class="wrapper-grid">
        <div class="col-start">
            <h1 class="text-heading">{{ mainContent }}</h1>

            <h3 class="text-subheading">{{ mainContentDescription }}</h3>

            <a 
              class="btn btn-cta purple"
              href="{{ mainBtnHref }}"
            >{{ mainBtnCta }}</a>
        </div>    
    </div>
</main>
{% endblock %}