
<main>
    
        <br><p class="text-body">{{ user }}</p></br>
        <p class="text-body">{{ YOE }}</p>
    

    <div class="wrapper-grid">
        <div class="col-start">
            <h1 class="text-heading">{{ mainContent }}</h1>

            <h3 class="text-subheading">{{ mainContentDescription }}</h3>

            <a 
              class="btn btn-cta purple"
              href="{{ mainBtnHref }}"
            >{{ mainBtnCta }}</a>
        </div>    
    </div>
</main>