<section>
    <form class="submit-form" action="/sign-up" method="POST">
        <label for="fullname">Enter your full name</label>
        <input name="fullname" type="text" placeholder="Full name"/>
        
        <label for="username">Enter your email</label>
        <input name="username" type="email" placeholder="Minimum of 8 characters"/>

        <label for="password">Enter a password</label>
        <input name="password" type="text" placeholder="password"/>
        
        <label for="YOE">How many years have you been sailing</label>
        <input name="YOE" type="number" placeholder="Years of experience"/>

        <button 
            class="btn btn-cta purple"
            action="submit"
        >Submit</button>
    </form>  
</section>  